@import "../../../styles/landing-design.scss";

.modal-container-plans {
    .go-back {
        color: $bear-blue-dim;
        width: fit-content;
        margin: 0;
        text-decoration: underline;
        cursor: pointer;
        font-style: italic;
        font-size: var(--app-font-size-body);
        &:hover {
            color: $text-primary;
        }
    }
    .bottom {
        .title {
            color: $text-primary;
        }
    }
    .add-card {
        color: $bear-blue-dim;
        width: fit-content;
        font-weight: 600;
        margin: 0;
        cursor: pointer;
        &:hover {
            color: $text-primary;
        }
    }
    button {
        white-space: nowrap;
        padding-inline: 30px;
    }
    select {
        border-radius: 100px;
        padding-block: 8px;
        padding-inline: 18px;
        border: 1px solid $card-glass-border;
        background: $bg-dark-soft;
        color: $bear-blue-dim;
    }
}