@import "../../../styles/landing-design.scss";

.c-row2 {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.btn-option-4:disabled {
    background: $text-dim !important;
    cursor: not-allowed;
    box-shadow: none !important;
}