.bb-spinner-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.bb-spinner {
  box-sizing: border-box;
  border-style: solid;
  border-color: currentColor;
  border-right-color: transparent;
  border-top-color: transparent;
  border-radius: 999px;
  animation: bb-spinner-spin 0.8s linear infinite;
  will-change: transform;
}
