node_modules
# Keep environment variables out of version control
.env
.env.*
!.env.example
build
*.sql
!prisma/migrations/**/migration.sql
demos
logs
compressed-dirs
bun.*
build_sse

firebase-admin-credentials.json
output
