version: '3.8'

services:
  api:
    image: inowudev/bearbeat
    container_name: bearbeat-api
    ports:
      - 5000:5000
    environment:
      STRIPE_WH_SECRET: whsec_TutD4Pl1vuaPpF9Z4FFbyn2kiSzqq4VD
      FILE_SERVICE: local
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /home/products:/home/products
    networks: 
      - app-net
  db:
    container_name: bearbeat-db
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - '${DATABASE_PORT}:3306'
    networks:
      - app-net
    volumes:
      - mysql-volume:/var/lib/mysql

volumes:
  mysql-volume:

networks:
  app-net:
