@use "src/styles/landing-design" as *;

.container-verify-phone-modal .modal-content {
  flex-direction: row;
}

.container-verify-phone-modal .modal-container {
  font-family: var(--bb-font-ui);
  font-size: var(--app-font-size-body);
}