form.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .c-row {
    width: 100%;
    .conekta-input{
      display: flex;
      flex-direction: column;
      gap: 5px;
      .bottom-inputs{
        display: flex;
        gap: 5px;
        .other-inputs{
          display: flex;
          gap: 5px;
        }
      }
    }
    input {
      width: 100%;
    }

    h4 {
      font-size: 1.4rem;

      span {
        color: #00e2f7;
        cursor: pointer;
      }
    }

    input {
      padding: 12px;
      box-shadow: none;
      text-shadow: none;
      border-radius: 5px;
      border: 2px solid #d3d3d3;
      background-color: #f8f8f8;
      font-size: 1.4rem;
    }

    .StripeElement {
      border: 2px solid #d3d3d3;
      background-color: #f8f8f8;
      padding: 12px;
      border-radius: 5px;
    }
  }
  .button-contain{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    .btn-oxxo{
      padding-block: 10px;
      font-weight: 600;
      border-radius: 100px;
    }
    .paypal-button-tagline{
      .paypal-button-text{
        color: red;
      }
    }
  }
}
