@import "../../../styles/_variables-theme.scss";
@import "../../../styles/landing-design.scss";

.container-error-modal {
  .modal-dialog {
    .modal-content {
      flex-direction: row;
    }
  }
  .modal-container {
    .header .title {
      margin: 0;
      color: var(--app-status-error);
      font-size: var(--app-font-size-h2);
      font-weight: var(--app-font-weight-heading-strong);
      font-family: "Poppins", sans-serif;
    }
    .header .icon {
      color: var(--app-status-error);
      min-width: 48px;
      min-height: 48px;
      &:hover {
        color: var(--app-text-heading);
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }
    .bottom .content {
      margin: 0;
      color: var(--app-text-body);
      font-size: var(--app-font-size-body);
      line-height: 1.5;
    }
    .bottom .content + .content {
      margin-top: 0;
    }
    .bottom .button-container-2 {
      margin-top: 0.5rem;
    }
    .bottom button {
      font-size: var(--app-font-size-body);
      min-height: 48px;
    }
  }
}