@import "~bootstrap/scss/bootstrap";
@font-face {
  font-family: "Bear Font2";
  src: url("../assets/fonts/Arkhip_font.otf");
}
@font-face {
  font-family: "Bear-font";
  src: url("../assets/fonts/Arkhip_font.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

label,
p,
a,
b,
button,
.btn,
ul,
li,
div,
form {
  font-size: 1.6rem;
}

button {
  border: none;
}

button.primary-pill {
  border-radius: 25px;
  font-weight: 700;
  padding: 10px;
}

.linear-bg {
  background: linear-gradient(11deg, #00e6c1, #08e1f7);
}
