@import "src/styles/mixin.scss";

.home-main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    font-size: 2.8rem;
  }

  .folders-navigation-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .header {
      display: grid;
      grid-template-columns: 2fr 1fr;
      border-bottom: 1px solid #1f75cc;
      color: #1f75cc;
      padding: 8px;

      div {
        font-size: 1.4rem;
        cursor: pointer;
      }
    }

    .folders-cards-container {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .folder-card {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 8px;
        background-color: #ffffff;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0 1px 4px #00000033;

        &:hover {
          background-color: #00000013;
        }
        svg {
          width: 3rem;
          height: 3rem;
        }
        div {
          display: flex;
          align-items: center;
          gap: 15px;

          h3 {
            font-size: 1.5rem;
            font-weight: 400;
          }

          h4 {
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
      }

      .video-card {
        grid-template-columns: auto 1fr auto;
        .name-container {
          justify-content: center;
        }
      }
    }
  }

  @include respond-to(md) {
    .folders-navigation-container {
      .header {
        .modified-column {
          display: none;
        }
      }

      .folders-cards-container {
        .folder-card {
          .modified-column {
            display: none;
          }
        }
      }
    }
  }
}
