.modal-container {
    width: 100vh;

    .bottom {
        .table-contain {
            table {
                color: white;
                border-spacing: 10px;
                border-color: white;
                border-collapse: collapse;
                width: 100%;

                thead {
                    tr {
                        border-bottom: 1px solid white;
                        position: sticky;
                        top: 0;

                        th {
                            padding: 10px;
                        }
                    }
                }

                tbody {
                    tr {
                        border-bottom: 1px solid white;

                        td {
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}