@import "../../../styles/_variables-theme.scss";
@import "../../../styles/landing-design.scss";

.container-success-modal {
  .modal-dialog {
    .modal-content {
      flex-direction: row;
    }
  }
  .modal-container {
    .header .title {
      color: var(--app-status-success);
      font-size: var(--app-font-size-h2);
      font-weight: var(--app-font-weight-heading-strong);
      font-family: var(--bb-font-ui);
    }
    .bottom .content {
      color: var(--app-text-body);
      font-size: var(--app-font-size-body);
      line-height: 1.5;
    }
    .bottom button {
      font-size: var(--app-font-size-body);
      min-height: 48px;
    }
  }
}