@import "../../../styles/landing-design.scss";

.add-extra-storage-modal .modal-content {
    flex-direction: column;
}

.btn-option-4:disabled {
    cursor: not-allowed;
    background: $text-dim !important;
    box-shadow: none !important;
}