.pagination-container{
    display: flex;
    justify-content: space-between;
    background-color: #dee2e6;
    padding: 10px;
    align-items: center;
    .left-text{
        font-size: 1.2rem;
        font-weight: 600;
    }
    .left-side{
        display: flex;
        gap: 20px;
    }
    .right-side{
        display: flex;
        gap: 20px;
        align-items: center;
        .selected{
            font-weight: 600;
        }
        .unselected{
            cursor: pointer;
            &:hover{
                opacity: .67;
            }
        }
        svg{
            cursor: pointer;
            color: #00A8CD;
            &:hover{
                opacity: .67;
            }
        }
        p{
            color: #00A8CD;
            font-size: 1.6rem;
        }
    }
}