@import "src/styles/mixin.scss";

// Mobile-first
.pagination-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  background-color: #dee2e6;
  padding: 12px 8px;
  align-items: center;

  .total {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .left-text {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .left-side {
    display: flex;
    gap: 12px;
  }

  .right-side {
    display: flex;
    gap: 12px;
    align-items: center;

    .selected {
      font-weight: 600;
    }

    .unselected {
      cursor: pointer;
      &:hover {
        opacity: 0.67;
      }
    }

    svg {
      cursor: pointer;
      color: #00a8cd;
      min-width: 44px;
      min-height: 44px;
      &:hover {
        opacity: 0.67;
      }
    }

    p {
      color: #00a8cd;
      font-size: 1.4rem;
    }
  }
}

@include respond-from(tablet) {
  .pagination-container {
    flex-direction: row;
    gap: 0;
    padding: 10px;

    .left-side,
    .right-side {
      gap: 20px;
    }

    .right-side p {
      font-size: 1.6rem;
    }
  }
}
