.coupons-contain {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .header {
        display: flex;
        justify-content: space-between;
        .input {
            border-radius: 100px;
            padding: 5px 25px;
            // border: none;
            background: transparent;
        }

        .btn-addCoupon {
            color: white;
            background: #09e1f7;
            ;
            padding: 4px 20px;
            border-radius: 100px;
        }
        .btn-addCoupon:hover{
            background-color: #00abbe;
        }
    }

    p {
        margin: 0;
    }
    .admin-table{
        display: flex;
        flex-direction: column;
        .table-contain{
            width: 100%;
            max-height: 100%;
            overflow-y: auto;
        }
        table{
            // background-color: red;
            width: 100%;
            thead{
                tr{
                    background-color: #dee2e6;
                    border-bottom: 1px solid white;
                    th{
                        font-size: 1.4rem;
                        max-width: 250px;
                        padding: 10px;
                    }
                }
            }
            tbody{
                tr{
                    background-color: #e8ecef;
                    border-bottom: 1px solid white;
                    td{
                        font-size: 1.2rem;
                        max-width: 250px;
                        padding-block: .5rem;
                        padding: 10px;
                        button{
                            font-size: 1.2rem;
                            color: white;
                            background: #09e1f7;;
                            padding: 4px 20px;
                            border-radius: 100px;
                        }
                        button:disabled{
                            background-color: #c2c1c1;
                        }
                        button:hover{
                            background-color: #00abbe;
                        }
                        button:hover:disabled{
                            background-color: #c2c1c1;
                        }
                    }
                }
                @keyframes loadingAnimation {
                    0% {
                        background-color: #d6d5d5;
                    }
                    50% {
                        background-color: #c2c1c1;
                    }
                    100% {
                        background-color: #d6d5d5;
                    }
                }
                .tr-load{
                    td{
                        animation: loadingAnimation 1.5s infinite;
                        border-block: 5px solid #e8ecef;
                        padding: 22px;
                        background: linear-gradient()
                    }
                }
            }
        }
    }
    
}