.main-layout-main-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-color: #eeeeee;
  .content-container {
    flex: 1;
    display: flex;
     > div {
      flex: 1;
     }
  }
}
