.blocked-domains-contain {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .domain-form {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;

    input {
      border-radius: 100px;
      padding: 6px 20px;
      background: transparent;
    }

    .btn-addDomain {
      color: white;
      background: #09e1f7;
      padding: 6px 18px;
      border-radius: 100px;
    }

    .btn-addDomain:hover {
      background-color: #00abbe;
    }

    .btn-addDomain:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  .hint {
    margin: 0;
    font-size: 0.9rem;
  }

  .admin-table {
    table tbody tr td button {
      margin-right: 10px;
    }
  }
}
