
.modal-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    button{
        padding-inline: 50px;
        padding-block: 8px;
        font-weight: 600;
        font-size: 16px;
        border-radius: 100px;
        &:hover{
            opacity: .8;
        }
    }
    p{
        margin: 0;
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 25px;
        padding-block: 10px;
        background-color: #1a1a1a;
        border-radius: 10px 10px 0px 0px;
        .title{
            color: white;
            font-weight: 600;
            font-size: 20px;
        }
        .icon{
            color: white;
            font-size: 24px;
            cursor: pointer;
        }
    }
    .bottom{
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 0px 0px 10px 10px;
        padding-block: 20px;
        padding-inline: 25px;
        background-color: #2a2a2a;
        .content{
            color: white;
        }
        .button-container{
            display: flex;
            gap: 20px;
            justify-content: space-between;
            .btn-cancel{
                background-color: transparent;
                color: #ff2d2c;
            }
            .btn-retry{
                background-color: #ff2d2c;
                color: white;
            }
        }
        .button-container-2{
            display: flex;
            justify-content: center;
            .btn-success{
                width: fit-content;
                background: linear-gradient(45deg,#04e4cc,#00e1ee);
            }
        }

    }
}
.modal-content{
    border-radius: 25px;
}
.error-modal{
    box-shadow: -6px -6px 0px 2px #ff2d2c;
}
.success-modal{
    box-shadow: -6px -6px 0px 2px #09e1f7;
}