@import "../../../styles/landing-design.scss";

.history-contain {
  color: $text-primary;
  .header {
    .btn-addUsers {
      color: #000;
      background: $bear-blue-dim;
      padding: 4px 20px;
      border-radius: 100px;
      box-shadow: 0 0 12px $bear-blue-glow;
      &:hover {
        opacity: 0.9;
      }
    }
  }

  .admin-table {
    .table-contain {
      max-height: 74vh;
    }

    table thead,
    table tfoot {
      position: sticky;
    }

    table thead {
      inset-block-start: 0;
    }

    table tfoot {
      inset-block-end: 0;
    }
  }
}